<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
        
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                
                <h5 class="card-title">Nombre del autor</h5>
                
                <form th:action="@{/autor/registro/}" method="POST">
                    <div class="mb-3">
                        <input type="text" name="nombre" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <section class=" text-center container">
                        <div class="row mt-3">
                            <div class="divVolver">
                                <a th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                            </div>
                        </div>
                    </section>
                </form>
            
                
            </div>
        </div>
                
        
        <div th:if="${error!=null}" class="alert alert-danger" role="alert">
            <div>
                <h5>Error</h5>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito!= null}" class="alert alert-success" role="alert">
            <div>
                <h5>Éxito</h5>
                <p th:text="${exito}"></p>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
