<!DOCTYPE html>
<!--

-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
        <table>
        <thead>
            <tr>
                <th>
                    Id de la editorial
                </th>
                <th>
                    Nombre de la editorial
                </th>
                <th>
                    Modificar
                </th>
            </tr>
        </thead>
        <tbody th:each="editorial : ${editoriales}">
            <tr>
                <td th:text="${editorial.id}"></td>
                <td th:text="${editorial.nombre}"></td>
                <td>
                    <a th:href="@{/editorial/modificar/__${editorial.id}__}">Modificar</a>
                </td>
            </tr>
    </table>
        
    </body>
    
    <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
    </section>
    
</html>
