<!DOCTYPE html>
<!--

-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>
    <body>
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/libro/registrar">Cargar Libro</a></li>
                <li class="breadcrumb-item"><a href="/autor/registrar">Cargar Autor</a></li>
            </ol>

            
        </nav>
        
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h5 class="card-title">Nombre de la editorial</h5>
                <form th:action="@{/editorial/registro/}" method="POST">
                    <div class="mb-3">
                        <input type="text" name="nombre" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <section class=" text-center container">
                        <div class="row mt-3">
                            <div class="divVolver">
                                <a th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
        
        
        
        </div>
        <div th:if="${error!=null}" class="alert alert-danger" role="alert">
            <div>
                <h5>Error</h5>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito!= null}" class="alert alert-success" role="alert">
            <div>
                <h5>Éxito</h5>
                <p th:text="${exito}"></p>
            </div>
        </div>
        
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
