<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
        
        <nav class="nav">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            <a class="nav-link" href="/libro/registrar">Cargar Libro</a>
            <a class="nav-link" href="/autor/registrar">Cargar Autor</a>
            <a class="nav-link" href="/editorial/registrar">Cargar Editorial</a>
            <a class="nav-link disabled">Perder un libro</a>
        </nav>
        
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    
                    <button type="button" class="btn btn-light"><a href="/libro/lista" id="boton" class="btn btn-light">Ver libros</a></button>
                </div>
                <span class="badge bg-primary rounded-pill" th:text="${#lists.size(libros)}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <button type="button" class="btn btn-light"><a href="/autor/lista" id="boton" class="btn btn-light">Ver autores</a></button>
                </div>
                <span class="badge bg-primary rounded-pill" th:text="${#lists.size(autores)}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <button type="button" class="btn btn-light"><a href="/editorial/lista" id="boton" class="btn btn-light">Ver editoriales</a></button>
                </div>
                <span class="badge bg-primary rounded-pill" th:text="${#lists.size(editoriales)}"></span>
                
            </li>
        </ul>

        <div th:if="${exito!=null}" class="alert alert-success" role="alert">
            <div>
                <h5>¡Tarea exitosa!</h5>
                <p th:text="${exito}"></p>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    </body>
</html>
