<!DOCTYPE html>
<!--

-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "/fragments/head :: head"> </head>
    
    <table>
        <h4>Listado de libros</h4>
        <thead>
            <tr>
                <th>
                    Isbn
                </th>
                <th>
                   Título
                </th>
                <th>
                   Ejemplares
                </th>
                <th>
                   Dia de alta
                </th>
                <th>
                   Autor
                </th>
                <th>
                   Editorial
                </th>
                <th>
                   Modificar
                </th>
            </tr>
        </thead>
        <tbody th:each="libro : ${libros}">
            <tr>
                <td th:text="${libro.isbn}"></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.ejemplares}"></td>
                <td th:text="${libro.alta}"></td>
                <td th:text="${libro.autor.nombre}"></td>
                <td th:text="${libro.editorial.nombre}"></td>
                <td>
                    <a th:href="@{/libro/modificar/__${libro.isbn}__}">Modificar</a>
                </td>
            </tr>
    </table>
    
    <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
    </section>
    
    </div>
        <div th:if="${error!=null}" class="alert alert-danger" role="alert">
            <div>
                <h5>Error</h5>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito!= null}" class="alert alert-success" role="alert">
            <div>
                <h5>Éxito</h5>
                <p th:text="${exito}"></p>
            </div>
        </div>
    
</html>
