<!DOCTYPE html>
<!--

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <title>Servicio Salud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/paciente/historia/modificar/__{id}__" method="GET" enctype="multipart/form-data">
            
            <table>
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Motivo de la consulta
                        </th>
                        <th>
                            Comentario del profesional
                        </th>
                        <th>
                            Modificar
                        </th>
                    </tr>
                </thead>
                <tbody th:each="historia : ${historial}">
                    <tr>
                        <td  
                            th:text="${historia.turno.fecha}">
                        </td>
                        <td  
                            th:text="${historia.turno.motivo}">
                        </td>
                        <td  
                            th:text="${historia.turno.algo}">
                        </td>
                        <td>
                            <input hidden type="text" name="id" value="${historial.id}">
                            <a th:href="@{/paciente/historia/modificar/__${id}__}">Historia Clínica</a>
                        </td>
            </table>
        </form>
    </body>
</html>
