<!DOCTYPE html>
<!--

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <title>Servicio Salud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <nav>
        <div >
            <ul>
                <li>
                    <a href="/logout" >Cerrar Sesión</a>
                </li>
                <li>
                    <a th:href="@{/inicio}">Volver</a>
                </li>
            </ul>
        </div>
     </nav>
            
            <table>
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Motivo de la consulta
                        </th>
                        <th>
                            Comentario del profesional
                        </th>
                    </tr>
                </thead>
                <tbody th:each="historia : ${historial}">
                    <tr>
                        <td  
                            th:text="${historia.turno.fecha}">
                        </td>
                        <td  
                            th:text="${historia.turno.motivo}">
                        </td>
                        
                        <td>
            <span th:if="${historia.algo != 'vacio'}" th:text="${historia.algo}"></span>
            <span th:unless="${historia.algo != 'vacio'}">
                <form th:action="@{/historial/modificar/__${historia.id}__}" method="GET">
                    <input type="text" name="algo">
                    <input hidden type="text" name="idTurno" th:value="${historia.turno.id}">
                    <input type="submit" value="Confirmar">
                </form>
            </span>
        </td>
                            
                      
    </body>
</html>
