<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicio Salud</title>
    </head>
    <body>
        <ul>
            <li>
                <div>
                    <button type="button">
                        <a href="/profesional/registrar" id="boton">
                            Registrate como profesional
                        </a>
                    </button>
                </div>
            </li>
            <li>
                <div>
                    <button type="button">
                        <a href="/paciente/registrar" id="boton">
                            Registrate como paciente
                        </a>
                    </button>
                </div>
            </li>
            <li>
                <div>
                    <button type="button">
                        <a href="/login" id="boton">
                            Ingresá
                        </a>
                    </button>
                </div>
            </li>
        </ul>
        </div>
    </body>
</html>


