<!DOCTYPE html>
<!--

-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <<head>
        <title>Servicios Salud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
      
            <form th:action="@{/logincheck}" method="POST">


                <div>
                    <h3>Accedé a la movida!</h3>
                </div>
               
                <div>
                    <input type="email" name="email" placeholder="EMAIL">
                </div>

                <div>
                    <input type="password" name="password" placeholder="CONTRASEÑA">
                </div>
                
                <button type="submit">Ingresar</button>
            </form>


            <section>
                <div>
                    <div >
                        <a th:href="@{/}">Volver</a>
                    </div>
                </div>
            </section>
        
        </div>

 
        <div>
            <div th:if="${error != null}">
            <div>
                <h5>Error!</h5>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}">
            <div>
                <h5>Exito!</h5>
                <p th:text="${exito}"></p>
            </div>
        </div>

    </body>
</html>
