<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body class="bg-light">

    <main>
        <div class="container mt-5">
            <form th:action="@{/perfil/__${paciente.id}__}" method="POST" enctype="multipart/form-data"
                  class="p-3 border rounded bg-white shadow-sm">
                <h4 class="mb-4">Actualización de datos</h4>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="name">Nombre completo</label>
                    </div>
                    <div class="col-8">
                        <input name="nombreCompleto" type="text" id="name" class="form-control" th:value="${paciente.nombreCompleto}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="correo">Correo electrónico</label>
                    </div>
                    <div class="col-8">
                        <input name="email" type="email" id="correo" class="form-control" th:value="${paciente.email}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="pass">Actualice su clave</label>
                    </div>
                    <div class="col-8">
                        <input name="clave" type="password" id="pass" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="tel">Teléfono de contacto</label>
                    </div>
                    <div class="col-8">
                        <input name="telefono" type="number" id="tel" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="obras">Obra social (opcional)</label>
                    </div>
                    <div class="col-8">
                        <input name="obraSocial" type="checkbox" value="${paciente.obraSocial}" id="obras">
                        <label for="obras">Personal De Instituciones Fantasmas</label>
                        <input type="checkbox" name="obrasSociales" value="PDIF" id="obras">
                        <label for="obras">ISSN</label>
                        <input type="checkbox" name="obrasSociales" value="ISSN" id="obras">
                        <label for="obras">Otra</label>
                        <input type="checkbox" name="obrasSociales" value="Otra" id="obras">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="img">Imagen<span> (Opcional)</span></label>
                    </div>
                    <div class="col-8">
                        <input name="imagen" type="file" id="img" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary btn-md">Guardar</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <a th:href="@{/paciente/inicio}" class="btn btn-light btn-sm">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <div th:if="${error != null}" class="alert alert-secondary" role="alert">
        <div>
            <h5>Error</h5>
            <p th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${exito != null}" class="alert alert-secondary" role="alert">
        <div>
            <h5>Éxito</h5>
            <p th:text="${exito}"></p>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
