<!DOCTYPE html>
<!--

-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Servicio Salud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
        <div >
            <ul>
                <li>
                    <a href="/logout" >Cerrar Sesión</a>
                </li>
                <li>
                    <a th:href="@{/inicio}">Volver</a>
                </li>
            </ul>
        </div>
     </nav>
        <!--
        <h3 th:text="'Paciente: '
            +${turnos[0].paciente.nombreCompleto}"></h3>
        -->
        <h2>Turnos</h2>
        
        <table>
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Profesional
                        </th>
                        <th>
                            Consulta
                        </th>
                        <th>
                            Devolución
                        </th>
                        <th>
                            Puntuar
                        </th>

                    </tr>
                </thead>
                <tbody th:each="turno : ${turnos}">
                    <tr>
                        <td  
                            th:text="${#dates.format(turno.fecha, 'dd-MM-yyyy')}">
                        </td>
                        <td  
                            th:text="${turno.profesional.nombreCompleto}">
                        </td>
                        <td  
                            th:text="${turno.motivo}">
                        </td>
                        <td  
                            th:text="${@turnoServicio.buscarRegistro(turno.id).algo}">
                        </td>
                        <td>  
                            <a th:href="@{/paciente/devolucion/__${turno.id}__}">Puntuar</a>
                        </td>
                    </tr>
            </table>
       </body>
</html>
