<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <main>
        <div class="container mt-5">
            <form action="/profesional/registro" method="POST" enctype="multipart/form-data" class="p-3 border rounded bg-white shadow-sm">
                <div>
                    <h4 class="mb-4">Registro de profesional</h4>
                    <div class="mb-3">
                        <label for="name">Nombre completo</label>
                        <input name="nombreCompleto" type="text" id="name" class="form-control" placeholder="Zoilo Sagaz">
                    </div>
                    <div class="mb-3">
                        <label for="correo">Dirección postal electrónica</label>
                        <input name="email" type="email" id="correo" class="form-control" placeholder="vos@ejemplo.edu">
                    </div>
                    <div class="mb-3">
                        <label for="pass">Clave</label>
                        <input name="clave" type="password" id="pass" class="form-control" placeholder="*******">
                    </div>
                    <div class="mb-3">
                        <label for="tel">Teléfono</label>
                        <input name="telefono" type="number" id="tel" class="form-control" placeholder="444555">
                    </div>
                    <div class="mb-3">
                        <label for="img">Imagen<span> (Opcional)</span></label>
                        <input name="imagen" type="file" id="img" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="dispo">Disponibilidad</label>

                        <br>
                        <input type="radio" th:value="1m" name="lunes" id="lunes">
                        <input type="radio" th:value="1t" name="lunes" id="lunes">
                        <input type="radio" th:value="1n" name="lunes" id="lunes">
                        <label for="lunes">lunes (mañana/tarde/noche)</label>
                        <br>
                        <input type="radio" th:value="2m" name="martes" id="">
                        <input type="radio" th:value="2t" name="martes" id="">
                        <input type="radio" th:value="2n" name="martes" id="">
                        <label for="lunes">martes (mañana/tarde/noche)</label>
                        <br>
                        <input type="radio" th:value="3m" name="miercoles" id="">
                        <input type="radio" th:value="3t" name="miercoles" id="">
                        <input type="radio" th:value="3n" name="miercoles" id="">
                        <label for="lunes">miércoles (mañana/tarde/noche)</label>
                        <br>
                        <input type="radio" th:value="4m" name="jueves" id="">
                        <input type="radio" th:value="4t" name="jueves" id="">
                        <input type="radio" th:value="4n" name="jueves" id="">
                        <label for="lunes">jueves (mañana/tarde/noche)</label>
                        <br>
                        <input type="radio" th:value="5m" name="viernes" id="">
                        <input type="radio" th:value="5t" name="viernes" id="">
                        <input type="radio" th:value="5n" name="viernes" id="">
                        <label for="lunes">viernes (mañana/tarde/noche)</label>
                        <br>
                        <input type="radio" th:value="6m" name="sabado" id="">
                        <input type="radio" th:value="6t" name="sabado" id="">
                        <input type="radio" th:value="6n" name="sabado" id="">
                        <label for="lunes">sábado (mañana/tarde/noche)</label>
                        <br>
                        <input type="radio" th:value="0m" name="domingo" id="">
                        <input type="radio" th:value="0t" name="domingo" id=""> 
                        <input type="radio" th:value="0n" name="domingo" id="">
                        <label for="lunes">domingo (mañana/tarde/noche)</label>
                        
                    </div>
                    <div class="mb-3">
                        <label for="obras">¿Trabaja con obras sociales?</label>
                        <input name="obrasSociales" type="checkbox" id="obras">
                    </div>
                    <div class="mb-3">
                        <label for="moda">Modalidad</label>
                        <select id="moda" name="modalidad" class="form-control">
                            <option selected value="presencial">Presencial</option>
                            <option value="telemedicina">Teledirigido</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="select">Especialidad</label>
                        <select id="select" name="especialidad" class="form-control">
                            <option selected value="Ocultista">Ocultista</option>
                            <option value="Delirantólogo">Delirantólogo</option>
                            <option value="Panelista">Panelista</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="address">Ubicación</label>
                        <input name="ubicacion" type="text" id="address" class="form-control" placeholder="Chos Malal">
                    </div>
                    <div class="mb-3">
                        <label for="cash">Tarifa</label>
                        <input name="tarifa" type="number" id="cash" class="form-control" placeholder="1000">
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Registrar</button>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>