<!DOCTYPE html>
<!--

-->
<html>
    <head>
        <title>Servicio Salud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Servicio Salud</div>
        
        
        <ul>
            <li>
                <div>
                    
                    <button type="button"><a href="/libro/lista" id="boton" >Ver Profesionales</a></button>
                </div>
                <span th:text="${#lists.size(profesionales)}"></span>
            </li>
                        
        </ul>
        
        
        
</html>
