<!DOCTYPE html>
<!--

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <title>Servicio Salud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Servicio Salud</div>
        
        <form th:action="@{/turno/lista}" method="GET" enctype="multipart/form-data">
        <ul>
            <li>
                
                <div>
                 
                    <label>Seleccione especialidad</label>
                    <select id="dropDownList" name="especialidad">
                        <option th:each="especialidad : ${especialidades}" th:value="${especialidad}" th:text="${especialidad}"></option>
                    </select>
                    
                    <button type="submit">Ver Turnos disponibles</button>
                    
                </div>
                
            </li>
        </ul>
            
            
            
            </form>
        
    </body>
        
</html>
