<ul>
    <li class="nav-link dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #333; background-color: #f2f2f2;">
            Libros
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #333;">
            <li><a class="dropdown-item" href="/libro/lista" style="color: white;">Ver</a></li>
            <li><a class="dropdown-item" href="/libro/registrar" style="color: white;">Crear libro</a></li>
        </ul>
    </li>
    <li class="nav-link dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role"button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #333; background-color: #f2f2f2;">
            Autores
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #333;">
            <li><a class="dropdown-item" href="/autor/lista" style="color: white;">Ver</a></li>
            <li><a class="dropdown-item" href="/autor/registrar" style="color: white;">Crear autor</a></li>
        </ul>
    </li>
    <li class="nav-link dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #333; background-color: #f2f2f2;">
            Editoriales
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #333;">
            <li><a class="dropdown-item" href="/editorial/lista" style="color: white;">Ver</a></li>
            <li><a class="dropdown-item" href="/editorial/registrar" style="color: white;">Crear editorial</a></li>
        </ul>
    </li>
</ul>

