<!DOCTYPE html>
<!--

-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
        <nav class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #333; background-color: #f2f2f2;">
                Perfil
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #333;">
                <li><a class="dropdown-item" th:href="@{/perfil}" style="color: white;">Editar Perfil</a></li>
                <li><hr class="dropdown-divider" style="background-color: #666;"></li>
                <li><a class="dropdown-item" href="/logout" style="color: white;">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </body>
</html>
